<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}?ver=1.5"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}?ver=1.7"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}?ver=1.7"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}?ver=1.7"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/formHandler.js') }}?ver=2.0"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/table-page.js') }}?ver=1.9"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-ru-RU.js') }}"></script>
<script src="{{ url_for('static', filename='js/croppie.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>